$large-screen: 92.3076em;
$desktop-min: 59.07686em;
$desktop-max: 75.30762em;
$tablet: 58.99994em;
$mobile: 36.92304em;

$site-width: 940;
$base-font: 16px;
$cols: 12;

$gutter-width: ((($site-width / $cols) / 3) / $site-width) * 100%;
$gutter-width-abs: ($site-width / $cols) / 3;
$total-gutter: (($site-width / $cols) / 3) * ($cols - 1);
$remaining-page: $site-width - $total-gutter;
$col-width: (($remaining-page / $cols) / $site-width) * 100%;
$col-width-abs: ($remaining-page / $cols);

$blue: #8fd8d8;
$red: #856363;
$green: #8ba870;
$grey: #666;
$light-grey: #8fd8ed;