
$large-screen: 1300px;
$desktop-max: 1299px;
$desktop-min: 940px;
$tablet: 939px;
$mobile: 320px;

$site-width: 940;
$base-font: 16;
$cols: 12;

$gutter-width: ((($site-width / $cols) / 3) / $site-width) * 100%;
$gutter-width-abs: ($site-width / $cols) / 3;
$total-gutter: (($site-width / $cols) / 3) * ($cols - 1);
$remaining-page: $site-width - $total-gutter;
$col-width: (($remaining-page / $cols) / $site-width) * 100%;
$col-width-abs: ($remaining-page / $cols);

$blue: #8fd8d8;
$red: #856363;
$green: #8ba870;
$grey: #666;
$light-grey: #444;
$off-white: #eee;

$base-color: #222;
$secondary-color: #15A2ED;