@mixin rounded($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin em-font($px:12){
    font-size:(1 / $base-font) * $px + em;
}

@mixin em-line-height($px:12){
    line-height:(1 / $base-font) * $px + em;
}  

@mixin block-left(){
    display:block;
    float:left;
}
    

@mixin drop-shadow($left-offset:0, $top-offset:5px, $blur:5px, $height:0, $color:#222){
    -moz-box-shadow: $left-offset $top-offset $blur $height $color;
    -webkit-box-shadow: $left-offset $top-offset $blur $height $color;
    box-shadow: $left-offset $top-offset $blur $height $color;
    
}

@mixin text-shadow($horizontal:1px, $vertical:1px, $blur:1px, $color:#222){
    text-shadow: $horizontal $vertical $blur $color;
    filter: dropshadow(color=$color, offx=1, offy=1);
}


@mixin bg-gradient($from:#222, $to:#fff, $from-percentage:0%, $to-percentage:100%){
    background: -moz-linear-gradient(top, $from $from-percentage, $to $to-percentage);
    background: -webkit-gradient(linear, left top, left bottom, color-stop($from-percentage,$from), color-stop($to-percentage,$to));
    background: -webkit-linear-gradient(top, $from $from-percentage,$to $to-percentage);
    background: -o-linear-gradient(top, $from $from-percentage,$to $to-percentage);
    background: -ms-linear-gradient(top, $from $from-percentage,$to $to-percentage);
    background: linear-gradient(to bottom, $from $from-percentage,$to $to-percentage);  
}

@mixin rotate($amount:0){
    transform: rotate($amount+deg);
    -ms-transform: rotate($amount+deg);
    -webkit-transform: rotate($amount+deg);
    -o-transform: rotate($amount+deg);
    -moz-transform: rotate($amount+deg);
}
