/* Form styles */

@import "_mixins.scss";
@import "_global-vars.scss";

/* CSS validation overrides */
:required {}

:optional {}

:valid {}

:invalid {}

:default {}

:in-range {}

:out-of-range {}

form {

}
form fieldset {
    float: left;
    width: 100%;
}

form label {
    width: 40%;
    float: left;
    padding: 0 0 2% 0;
    line-height: 1.8em;
    font-family: 'Raleway', sans-serif;
}

form legend {
    margin: 0 0 10px 0;
    font-weight: 400;
    float: left;
    width: 96%;
    background-color: $secondary-color;
    padding: 10px 2% 10px 2%;
    color: white;
    font-family: 'Raleway', sans-serif;
}

form input {
    width: 57%;
    margin: 0 0 2% 0;
    padding: 1%;
}

form input[type='search'] {
    width:59%;
}

form input[type='submit']{
    background-color: $secondary-color;
    border:1px solid $secondary-color;
    width: auto;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    float: right;
}

form input[type='submit']:hover,
form input[type='submit']:active{
    border:1px solid lighten($secondary-color, 10%);
} 

/* New input types */
progress,
meter {
  width: 59%;
  margin: 0 0 4% 0;
  display: block;
  float: left;
}
