@import "_mixins.scss";
@import "_global-vars.scss";

/* ======== Header ======== */

#header {
    padding: 0 2% 0 2%;
    background-color: $base-color;
    width: 96%;
    @include bg-gradient(lighten($base-color, 10%), $base-color);
    @include drop-shadow(0, 0, 13px, 3px);
    position:fixed;
    z-index:2;
}
h1 {
    float:left;
    margin: 18px 0 0 0;
    @include text-shadow(2px, 2px, 6px, #000);
 }

#main-nav ul{
    display:block;
    float:right;
    margin:0;
}
#main-nav ul li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    border-right:1px solid #444;
    width:72px;
    height:100%;
}

#main-nav ul li.first{
    border-left:1px solid #444;
}
#main-nav ul li a {
    color: darken($off-white, 20%);
    display: block;
    float: left;
    outline: none;
    text-decoration: none;
    @include em-font(12);
    font-weight:400;
    text-align:center;
    width:100%;
    margin:0 0 10px 0;
}

#main-nav ul li a.active,
#main-nav ul li a:hover{
    color:white;
}

#main-nav li a span{
    @include em-font(60);
    float:left;
    width:100%;
    speak: none; /* Not to be trusted, but hey. */
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    margin-top:-0.2em;
}