@import "_mixins.scss";
@import "_global-vars.scss";

/* ======== Header ======== */

#header {
    padding: 0 2% 0 2%;
    background-color: $base-color;
    width: 96%;
    @include bg-gradient(lighten($base-color, 10%), $base-color);
    @include drop-shadow(0, 0, 13px, 3px);
    border-bottom:3px solid $secondary-color;
    position:fixed;
    z-index:3;
    left:0;
    height:42px;
    
}

.header-wrapper{
    position:relative;
}

.mobile-nav{
    float:left;
    border:1px solid lighten($base-color, 10%);
    @include rounded(5);
    color:white;
    padding:5px;
    margin:5px 0 5px 0;
}

.mobile-nav.active,
.mobile-nav:hover{
    background-color:lighten($base-color, 10%);
    border:1px solid $base-color;
}

.mobile-nav span{
    @include block-left();
    font-size: 3.0em;
    margin: -26px 0 0 0;
}

h1 {
    text-indent:-99999px;
    float:left;
    margin: 18px 0 0 0;
    @include text-shadow(2px, 2px, 6px, #000);
 }
 
#main-nav{
    position:absolute;
    background-color:$base-color;
    @include drop-shadow(inset, -4px, -4px, 10px, #000);
    top:45px;
    width:70%;
    left:-100%;
    height:100%;
    z-index:2;
    padding:0;
    @include transition(left, 0.3s, linear);
}

#main-nav .center-content{
    margin:0;
    padding:0;
    width:100%;
}

#site-wrapper.css-nav-open #main-nav{
    left:0;
}

#site-wrapper.css-nav-open #main{
    left:79%;
}

#main-nav ul{
    margin: 0;
    padding:0;
    float:left;
    width:100%;
}
#main-nav ul li {
    display: block;
    float: left;
    height:100%;
    width:100%;
    margin:0;
}

#main-nav ul li a {
    color: darken($off-white, 20%);
    display: block;
    float: left;
    outline: none;
    text-decoration: none;
    @include em-font(16);
    font-weight:400;
    width:100%;
    margin:0 0 10px 0;
    padding:10px 0 10px 0;
}

#main-nav ul li a.active{
    background-color:lighten($base-color, 10%);
}

#main-nav ul li a.active,
#main-nav ul li a:hover{
    color:white; 
}

#main-nav ul li span{
    float:left;
    width: 40px;
    text-align: left;
    margin: -29px 0 0 12%;
    font-size:3.0em;
}