/* Responsive styles */

@import "_mixins.scss";
@import "_global-vars.scss";

/* DESKTOP - LARGE */
@media only screen and (min-width: $large-screen) {
    
}

/* TABLET PORTRAIT TO DESKTOP */
@media only screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
    #main-nav{
         
    }
}

/* MOBILE LANDSCAPE TO TABLET PORTRAIT */
@media only screen and (max-width: $tablet) {
    
    #main-nav{
        display:block;
        float:left;
        width:100%;
    }
    
    #main-nav ul{
        padding:0;
        float:left;
        width:100%;
    }
    
    #main-nav ul li{
        width:23%;
    }
    
    h1{
        display:none;
    }
    
    #gallery-container{
        
        width:100%;
    }
    
}

/* MOBILE LANDSCAPE AND DOWN */
@media only screen and (max-width: $mobile) {
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11{
        width:100%;
    }
    
    /*#main-nav{
        width:100%;
        margin:10px 0 0 0;
    }
    #main-nav ul{
        padding:0;
        margin:0;
    }
    #main-nav ul li{
        width:100%;
        margin:0 0 1px 0;
    }
    #main-nav ul li a{
        width:96%;
        padding:15px 2% 15px 2%;
    } */ 
    
}
