/* Responsive styles */

@import "_mixins.scss";
@import "_global-vars.scss";

/* DESKTOP - LARGE */
@media only screen and (min-width: $large-screen) {
    
}

/* TABLET PORTRAIT TO DESKTOP */
@media only screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
    
}

/* MOBILE LANDSCAPE TO TABLET PORTRAIT */
@media only screen and (max-width: $tablet) {
    
    /* Nav */
    /*#main-nav{
        display:block;
        float:left;
        width:100%;
    }
    
    #main-nav ul{
        padding:0;
        float:left;
        width:100%;
    }
    
    #main-nav ul li{
        width:23%;
    }
    
    h1{
        display:none;
    }
    
    #gallery-container{
        width:100%;
    }
    
    #accordian .accordian-slide{
        border-left: 5px solid $secondary-color;
    }
    
    /* Forms 
    form input {
        width: 94%;
        padding:2%
    }
    form input[type='search'] {
        width:100%;
    }
    form label{
        padding:0;
        width:94%
    }
    
    progress,
    meter {
        width: 94%;
    }*/
   
}

/* MOBILE LANDSCAPE AND DOWN */
@media only screen and (max-width: $mobile) {
    
    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11{
        width:100%;
    }
    
    h1{
        display:none;
    }

    #accordian .accordian-slide{
        border-left: 1px solid $secondary-color;
    }
    
    /* Forms */
    form input {
        width: 89%;
        padding:4%
    }

    form input[type='search'] {
        width:98%;
    }
    
    #main{
        padding:65px 0 0 0;
    }
    
    /* MAIN NAVIATION */
    
    #header{
        height:42px;
    }
    
    #main-nav{
        position:absolute;
        background-color:$base-color;
        @include drop-shadow(inset, -4px, -4px, 10px, #000);
        top:45px;
        width:70%;
        left:-100%;
        height:100%;
        z-index:2;
        padding:0;
        @include transition();
        @include translate(0%);
    }
    
    #main{
        @include transition();
        @include translate(0%); 
    }
    
    /* CSS 3 TRANSLATIONS */
    #main-nav.open{
        @include translate(140%);
    }

    #main.open{
        @include translate(70%); 
    }
    
    #main-nav .center-content{
        margin:0;
        padding:0;
        width:100%;
    }
    
    #main-nav ul{
        float:left;
        width:100%;
    }
    
    #main-nav ul li{
        width:100%;
        margin:0;
        border:none;
    }
    
    #main-nav ul li span{
        width: 40px;
        text-align: left;
        margin: -29px 0 0 12%;
    }
    
    #main-nav ul li a{
        margin: 0 0 5px 0;
        padding: 10px 0 10px 0;
        @inclue em-font(18);
        text-align:left;
        font-size:1.0em;
        
    }
    
    #main-nav ul li a.active{
        background-color:lighten($base-color, 10%);
       
    }
    .mobile-nav{
        display:block;
    }
    
    #main-nav ul li.first{
        border:none;
    }
   
   
}
