/* Main stylesheet */

@import "_mixins.scss";
@import "_global-vars.scss";

body{
    background-color:white;
}

#main{
    padding:85px 0 0 0;
    display:block;
    float:left;
    width:100%;
}