/* Main stylesheet */

@import "_mixins.scss";
@import "_global-vars.scss";



@font-face {
    font-family: 'entypo';
    src: url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.eot');
    src: url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.woff') format('woff'),
         url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.ttf') format('truetype'),
         url('http://www.garethfuller.com/test/starter-kit/assets/fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
  font-family: "entypo";
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
}


body{
    background-color:$tertiary-color;
}

#main{
    padding:95px 0 0 0;
    @include block-left;
    width:100%;
}

/* Accordian styles */ 

#accordian a.accordian-link,
.grid-demo h3{
    background-color: $secondary-color;
    color:$off-white;
    padding:10px 2% 10px 2%;
    width:96%;
    @include block-left;
    margin: 0 0 1px 0;
    text-decoration:none;
}

#accordian .accordian-slide{
    @include block-left;
    padding: 2%;
    background: lighten($tertiary-color, 10%);
    width: 94%;
    position:relative;
    z-index:1;
    border-left:10px solid $secondary-color;
}

#accordian a.accordian-link span{
    float:right;
    color:white;
    @include rotate(270);
}

#accordian a.accordian-link h3{
    float:left;
    display:inline-block;
}

#accordian a.open{
    @include drop-shadow(0, 13px, 15px, -10px);
    position:relative;
    z-index:2;
    margin:0;
}

#accordian a.open span{
    @include rotate();
    
}


/* Gallery */

#gallery-container{
    margin:0 auto;
    width:60%;
}

#gallery{
    @include drop-shadow(0px, 0px, 15px, 1px, $base-color);
    width:600px;
    @include block-left;
    overflow:hidden;
    position:relative;
    width:100%;
    background: #333;
    border: 1px solid #555;
    margin:20px 0 0 0;
}

#gallery img{
    outline:none;
}

#gallery a{
    outline:none;
    text-decoration:none;
}


#gallery ul{
    width:10000px;
    position:relative;
    left:0;
    float:left;
    list-style-type:none;
    padding:0;
    margin:0;
}

#gallery ul li{
    float:left;
}

#gallery ul li header{
    width:25%;
    float:left;
}

#gallery ul li h3{
    @include block-left;
    padding:0;
    margin:20px 10% 20px 10%;
    width:80%;
    color:white;
}
#gallery ul li figure{
    width:75%;
    float:left;
    margin:0;
}


#gallery ul li figure img{
    width:100%;
}

#gallery figcaption{
    margin: 10px 0px 10px 0;
    color: white;
    background-color: #222;
    padding: 10px;
    font-weight: 400;
}

#thumbnails-wrapper{
    float:left;
    margin:40px 0 10px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding:10px 0 10px 0;
    background-color:lighten($base-color, 20%);
    @include drop-shadow(0px, 0px, 15px, 1px, $base-color);
}

#thumbnails-wrapper li{
    float:left;
    margin:0 5px 0 0;
}

#thumbnails-wrapper li a{
    display:block;
}

#thumbnails-wrapper li.active{
    filter: alpha(opacity=50);
    opacity:0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    background-color:#272727;
    
}

#thumbnails{
    overflow:hidden;
    position:relative;
    width:100%;
}

#thumbnails-wrapper ul{
    width:10000px;
    position:relative;
    left:0;
    float:left;
    list-style-type:none;
    padding:0;
    margin:0;
    
}

#progress-bar{
    width:100%;
    @include block-left;
    
}

#progress-bar #status{
    width:0%;
    background-color:#209DE4;
    height:2px;
}


a.gallery-buttons,
a.gallery-buttons-thumbs{
    width:20px;
    height:50px;
    background-color:#272727;
    outline:none;
    text-decoration: none;
    position:absolute;
    display:block;
    background:url('/assets/img/gallery-arrows.gif') top left no-repeat;
}

a.gallery-buttons:hover,
a.gallery-buttons-thumbs:hover{
    outline:none;
}

a.gallery-buttons.next,
a.gallery-buttons-thumbs.next{
    top: 40%;
    right:-1px;
    background-position:-19px 0;
}

a.gallery-buttons.previous,
a.gallery-buttons-thumbs.previous{
    top:40%;
    left:0;
}

a.gallery-buttons-thumbs.next,
a.gallery-buttons-thumbs.previous{
    top:20%;
}