/* Main stylesheet */

@import "_mixins.scss";
@import "_global-vars.scss";

.blue{
  background-color: $blue;
}

.red{
  background-color: $red;
}

.green{
  background-color: $green;
}