/* Typography style sheet */

@import "_mixins.scss";
@import "_global-vars.scss";

body {
    /* base font size */
    font-size:$base-font+'px';
    color: lighten($base-color, 20%);
    font-family: 'Raleway', sans-serif;
}

/* ======== Headings ======= */

h1 {
    @include em-font(26);
    font-weight: 400;
    color:$off-white;
}

h2 {
    @include em-font(18);
    font-weight: 700;
    margin: 0 0 20px 0;
    display: block;
    float: left;
    width: 100%;
}

h3 {
    @include em-font(16);
    font-weight: 400;
    margin: 0 0 15px 0;
    background-color: lighten($secondary-color, 10%);
    color:$off-white;
    padding:10px 2% 10px 2%;
    width:96%;
    display:block;
    float:left;
}



/* ===== Global common elements ======= */

p {
  margin: 0 0 15px 0;
}

ul {
  list-style-type: disc;
  padding: 0 0 0 30px;
  margin: 0 0 15px 0;
}
li {
    margin: 0 0 10px 0;
}
