/* Styles for the Grid */
#website {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
  padding: 0 5% 0 5%; }

.col {
  display: block;
  float: left;
  margin: 0 2% 0 0; }

.end {
  margin: 0; }

.row {
  margin: 0 0 20px 0;
  float: left;
  width: 100%; }

.grid-1 {
  width: 78.1383; }

.grid-1-end {
  width: 77.92553;
  margin: 0; }

.grid-2 {
  width: 156.48936; }

.grid-2-end {
  width: 156.2766;
  margin: 0; }

.grid-3 {
  width: 234.84043; }

.grid-3-end {
  width: 234.62766;
  margin: 0; }

.grid-4 {
  width: 313.19149; }

.grid-4-end {
  width: 312.97872;
  margin: 0; }

.grid-5 {
  width: 391.54255; }

.grid-5-end {
  width: 391.32979;
  margin: 0; }

.grid-6 {
  width: 469.89362; }

.grid-6-end {
  width: 469.68085;
  margin: 0; }

.grid-7 {
  width: 548.24468; }

.grid-7-end {
  width: 548.03191;
  margin: 0; }

.grid-8 {
  width: 626.59574; }

.grid-8-end {
  width: 626.38298;
  margin: 0; }

.grid-9 {
  width: 704.94681; }

.grid-9-end {
  width: 704.73404;
  margin: 0; }

.grid-10 {
  width: 783.29787; }

.grid-10-end {
  width: 783.08511;
  margin: 0; }

.grid-11 {
  width: 861.64894; }

.grid-11-end {
  width: 861.43617;
  margin: 0; }

.grid-12 {
  width: 939.78723; }

.grid-12-end {
  width: 939.57447;
  margin: 0; }
