/* Styles for the Grid */
#website {
  margin: 0 auto;
  max-width: 940px;
  width: 90%;
  padding: 0 5% 0 5%; }

.col {
  display: block;
  float: left;
  margin: 0 2.77778% 0 0; }

.end {
  margin: 0; }

.row {
  margin: 0 0 20px 0;
  float: left;
  width: 100%; }

.grid-1 {
  width: 5.78704%; }

.grid-2 {
  width: 14.35185%; }

.grid-3 {
  width: 22.91667%; }

.grid-4 {
  width: 31.48148%; }

.grid-5 {
  width: 40.0463%; }

.grid-6 {
  width: 48.61111%; }

.grid-7 {
  width: 57.17593%; }

.grid-8 {
  width: 65.74074%; }

.grid-9 {
  width: 74.30556%; }

.grid-10 {
  width: 82.87037%; }

.grid-11 {
  width: 91.43519%; }

.grid-12 {
  width: 100.0%; }
